@font-face {
    font-family: 'northregular';
    src: url('../fonts/webfontkit-20161015-145453/north-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20161015-145453/north-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../images/pEeUsp1.jpg);
    margin: 0 auto;
    text-align: center;
    font-family: 'northregular';
    color: white;
}

.button {
    margin: 1.5%;
    padding: 0.5%;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 10%;
    height: 5%;
    border: solid 2px #fff;
}

h1 {
    padding: 2% 20%;
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    background-color: #111;
}